@charset 'UTF-8';

/*
1. config
2. mixins
3. plugins
4. base
5. components
6. header
7. footer
8. demo
*/

/* 1. config */
@use 'config/variables';

/* 2. mixins */
@use 'mixins/breakpoints'; 
@use 'mixins/core';
@use 'mixins/buttons';

/* 3. plugins */
@use 'components/slider';
@use 'components/nouislider';

/* 4. base */
@use 'base/base';
@use 'base/helper';
@use 'base/type';
@use 'base/layout';
@use 'base/grid';
@use 'base/spacing';

@use 'demo/demo22_config';

/* 5, components */
@use 'components/accordion';
@use 'components/alerts';
@use 'components/animation';
@use 'components/banners';
@use 'components/blog';
@use 'components/buttons' as buttons2;
@use 'components/categories';
@use 'components/comments';
@use 'components/counter';
@use 'components/elements';
@use 'components/forms';
@use 'components/grid' as grid2;
@use 'components/icon-boxes';
@use 'components/icons';
@use 'components/input-range';
@use 'components/instagram';
@use 'components/lazy-load-image';
@use 'components/member';
@use 'components/minipopup';
@use 'components/overlay';
@use 'components/page-header';
@use 'components/pagination';
@use 'components/popups';
@use 'components/products';
@use 'components/product-single';
@use 'components/quickview';
@use 'components/social-icons';
@use 'components/sidebar';
@use 'components/sidebar-shop';
@use 'components/skeleton';
@use 'components/store';
@use 'components/tabs';
@use 'components/testimonials';
@use 'components/toast';
@use 'components/tooltip';
@use 'components/titles';
@use 'components/vendor';
@use 'components/widgets';
@use 'components/intro-categories';

/* 6. header */
@use 'base/header/header';
@use 'base/header/dropdown';
@use 'base/header/menu';

/* 7. footer */
@use 'base/footer/footer';

/* 8. Pages */
@use 'pages/about';  
@use 'pages/account';   
@use 'pages/buttons' as buttons3;
@use 'pages/categories' as categories2;
@use 'pages/coming';
@use 'pages/contact';
@use 'pages/error';
@use 'pages/products' as products2;
@use 'pages/cta';
@use 'pages/instagrams';
@use 'pages/blog' as blog2;
@use 'pages/shop';
@use 'pages/product-single' as product-single2;
@use 'pages/post-single';
@use 'pages/wishlist';
@use 'pages/cart';
@use 'pages/checkout';
@use 'pages/order';
@use 'pages/icons' as icons2;
@use 'pages/faq';
@use 'pages/trade-in';

@use 'demo/demo22_custom';

.rendered-content {
  li {
    list-style-position: inside;
    list-style-type: disc;
    p {
      display: inline;
    }
  }
  ul {
    padding-left: 0;
  }
}

.collapsed-content {
  overflow-y: hidden;
  max-height: 50rem;
}

.collapsed-btn {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  color: variables.$primary-color;
  svg {
    margin-left: .5rem;
    margin-top: .1rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 991px) {
  input, textarea {
    font-size: 16px !important;
  }
}
